.number__container {
    position: absolute;
    height: 5rem;
    width: 100%;
    bottom: 2rem;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .number__num {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-image: linear-gradient(40deg, #c70039, orange) ;
        box-shadow: inset 1px 2px 5px white,
                    3px 3px 5px rgba(black, .5);
        transition: all .3s;

        
        &:hover {
            transform: scale(1.2);
        }
        
        .number {
            font-size: 2rem;
            background-clip: text;
            color: white;
            font-weight: bold;
        }
    }
}